
.register{
  display: flex;
  flex-direction: row;
  background-color: gray;
}
.register-form-header{
  text-align: center;
}
.register-form-fields{
  margin-left: 20px;
  margin-bottom: 10px;
}
.register-form{
  background-color:whitesmoke;
  width: 40%;
  margin: 8% auto;
  padding: 10px 0 10px 0;
}
.register-form label{
  font-size: medium;
  width: 100%;
  padding-bottom: 2px;
}
.register-form input{
  width: 90%;
}
.register-select-group{
  display: flex;
  flex-direction: row;
  align-items: center;
  
}
.register-select{
  text-align: center;
  padding: 10px;
  margin: 10px;
}
.register-select-label{
  padding: 10px;;
}
.register-form button{
  font-size: large;
  color: #fff;
  background-color:lightcoral;
  border: 0;
  height: 35px;
  width: 120px;
  border-radius: 4px;
  cursor: pointer;
  margin-top: 30px;
  margin-bottom: 10px;
}
.rb{
text-align:center
}
.register-form p{
  cursor: pointer;
  margin-left: 10px;
}