.main{
  width: 100%;
  background: linear-gradient(to top, rgba(0,0,0,0.5)50%,rgba(0,0,0,0.5)50%), url(background.jpg);
  background-position: center;
  background-size: cover;
  min-height: 100vh;
  }
.sdate{
  color:white;
  font-size: 20px;    
  margin-right: 13px;
  
}
.tableheading{
  color: #ff7200;
}
.welcome{
  color: #ff7200;
  text-align: center;
}
.ncolor{
color:#fff;
}
.btn{
  height: 40px;
  background: #ff7200;
  border: 2px solid #ff7200;
  margin-top: 13px;
  color: #fff;
  font-size: 16px;
  border-bottom-right-radius: 5px;
  border-bottom-right-radius: 5px;
  transition: 0.2s ease;
}
.btn:focus{
  outline: none;
}
.btnone{
  border:2px solid #fff;
  padding: 10px 25px;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 14px;
  margin-top: 20px;
  display: inline-block;
  color: #fff;
}
.welcome-text a:hover{
  color:#ff7200;
  
}
.sideheading{
  color: #fff;
  font-size: 20px;    
  margin-right: 10px;
}
.spanp{
  color: #fff; 
}
.sideheading2{
  color:#ff7200;
  font-size: 22px;   
  margin-right: 10px;   
}

.Tableborder{
  margin:20px 150px;
}
.TableborderData{
  margin:20px 150px;
  border: 1px solid gray;
}
h6{
  text-align: center;
  padding-top: 30px;
  color:blue;
}
.registerform .register-select-group{
  display: flex;
  align-items: center;
  padding:10px;  
  margin: 5px;
  margin-bottom: 2px;
}
.registerform .register-select{
  text-align: center;
  display: flex;
  padding: 3px;
  }
.register-select-label{
  padding: 5px;;
}
.welcome-text{
  text-align: center;
  position: absolute;
  width: 600px;
  height: 300px;
  margin:15% 25%;
 }
.text{
  color:#ff7200;
}
.navitem{
  margin:10px;
  color:#fff;
}
.nav-link{
  font-size:20px;
  margin:5px;
  font-weight:500;
  color:#fff;
}
.navbar-nav{
  text-align:right;
  margin-right: 100px;
  color:#fff;
}
.loginform{
  display: grid;  
}
.registerform{
  display: grid;
  
}
.registerform .wrapper{
  margin-top: 5px;  
  margin-bottom:5px;    
  margin-left: 450px;
  width: 500px;
  background: #fff;
  border-radius: 15px;
  box-shadow: 0px 15px 20px rgba(0,0,0,0.1);
}

.wrapper{
  margin-top: 80px;
  margin-bottom: 100px;  
  margin-left: 450px;
  width: 420px;
  background: #fff;
  border-radius: 15px;
  box-shadow: 0px 15px 20px rgba(0,0,0,0.1);
}
.wrapper .title{
  font-size: 35px;
  font-weight: 600;
  text-align: center;
  line-height: 100px;
  color: #fff;
  user-select: none;
  border-radius: 15px 15px 0 0;
  background: linear-gradient(-135deg, #c850c0, #4158d0);
}
.wrapper form{
  padding: 10px 30px 50px 30px;
}
.wrapper form .field{
  height: 50px;
  width: 100%;
  margin-top: 20px;
  position: relative;
}
.wrapper form .field input{
  height: 100%;
  width: 100%;
  outline: none;
  font-size: 17px;
  padding-left: 20px;
  border: 1px solid lightgrey;
  border-radius: 25px;
  transition: all 0.3s ease;
}
.wrapper form .field input:focus,
form .field input:valid{
  border-color: #4158d0;
}
.wrapper form .field label{
  position: absolute;
  top: 50%;
  left: 20px;
  color: #999999;
  font-weight: 400;
  font-size: 17px;
  pointer-events: none;
  transform: translateY(-50%);
  transition: all 0.3s ease;
}
form .field input:focus ~ label,
form .field input:valid ~ label{
  top: 0%;
  font-size: 16px;
  color: #4158d0;
  background: #fff;
  transform: translateY(-50%);
}
form .field input[type="submit"]{
  color: #fff;
  border: none;
  padding-left: 0;
  margin-top: -10px;
  font-size: 20px;
  font-weight: 500;
  cursor: pointer;
  background: linear-gradient(-135deg, #c850c0, #4158d0);
  transition: all 0.3s ease;
}
form .field input[type="submit"]:active{
  transform: scale(0.95);
}
form .signup-link{
  color: #262626;
  margin-top: 20px;
  text-align: center;
  
}
form .signup-link p{
  color: #4158d0;
  cursor: pointer;
}

.registerform signup-link{
  margin-top: 1px;
}