
.register{
  width:90%;
  height:90%;
  margin: 5% 5% 5% 5% ;
  display: flex;
  flex-direction: row;
  background-color: #90E0EF;
}
.register-form-fields{
  margin-left: 20px;
  margin-bottom: 10px;
}
.register-form{
  background-color: #CAF0F8;
  width: 40%;
  margin: 8% auto;
  padding: 20px 0 20px 0;
}
.register-form label{
  font-size: medium;
  width: 100%;
  padding-bottom: 2px;
}
.register-form input{
  width: 90%;
}
.register-select-group{
  display: flex;
  flex-direction: row;
  align-items: center;
  
}
.register-select{
  text-align: center;
  padding: 10px;
  margin: 10px;
}
.register-select-label{
  padding: 10px;;
}
.register-form button{
  font-size: large;
  color: #fff;
  background-color: blue;
  border: 0;
  height: 35px;
  width: 120px;
  border-radius: 4px;
  cursor: pointer;
  margin: 13px auto auto 110px;
}
.register-form p{
  cursor: pointer;
  margin: 13px auto auto 110px;
}